<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.MANAGE_NEWLAND_CARDREADER" />
   <uses-permission android:name="android.permission.MANAGE_NEWLAND_MAGCARD" />
   <uses-permission android:name="android.permission.MANAGE_NEWLAND_RFID" />
   <uses-permission android:name="android.permission.MANAGE_NEWLAND_ICCARD" />
   <uses-permission android:name="android.permission.MANAGE_NEWLAND_PIN" />
   <uses-permission android:name="android.permission.MANAGE_NEWLAND_EMV" />
   <uses-permission android:name="android.permission.MANAGE_NEWLAND_CASHBOX" />
   <uses-permission android:name="android.permission.MANAGE_NEWLAND_EXTERNAL_PINAD" />
   <uses-permission android:name="android.permission.MANAGE_NEWLAND_EXTERNAL_RF" />
   <uses-permission android:name="android.permission.MANAGE_NEWLAND_EXTERNAL_SCAN" />
   <uses-permission android:name="android.permission.MANAGE_NEWLAND_EXTERNAL_SIGNATURE" />
   <uses-permission android:name="android.permission.MANAGE_NEWLAND_LIGHT" />
   <uses-permission android:name="android.permission.MANAGE_NEWLAND_SCAN" />
   <uses-permission android:name="android.permission.MANAGE_NEWLAND_SECURITY" />
   <uses-permission android:name="android.permission.MANAGE_NEWLAND_SERIAL" />
   <uses-permission android:name="android.permission.MANAGE_NEWLAND_STORAGE" />
   <uses-permission android:name="android.permission.MANAGE_NEWLAND_SM" />
   <uses-permission android:name="android.permission.MANAGE_NEWLAND_GUEST_DISPLAY" />
   <uses-permission android:name="android.permission.MANAGE_NEWLAND_PRINTER"/> >

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.POSMultiMarca"
            tools:targetApi="31">
        <activity
                android:name=".Vistas.Main.views.MainActivity"
                android:exported="true"
                android:label="@string/app_name"
                android:theme="@style/Theme.POSMultiMarca">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>